<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">

<head>
<title>About me and this website</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data table -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/hat.jpg" />
<meta http-equiv="Content-Type"  content="text/html; charset=utf-8"/>
</head>


<body>
<div th:replace="common/header :: navbar"/>


	<img class="img-responsive center-block" src="/image/me.png"  align="middle"/>


<p>
<h2  align="center" style="margin-left: 10%;margin-right: 10%;">
这是一个由我个人兴趣编写的网站。初衷是锻炼我的编程能力，
但随着网站的成型我看到了更多对于这个网站的可能性。它的基本结构是一个类似于淘宝的购物网站，
但我没有实质的物品可以哪来卖，所以目前网站中的商品都是我伪造的 :>。
</h2>
</p>

<br /><br /><br />


<p>
<h2 align="center" style="margin-left: 10%;margin-right: 10%;">
未来我希望将这个网站改造成有实际应用价值的网站，而不是没有商品的空壳购物网站。
我可能会把它当成我的个人博客，发布一些我的个人开源项目，或者把它搭建成一个论坛等等。
我很期待看到这个网站未来能做些什么。
</h2>
</p>

<br /><br /><br />

<p>
<h2 align="center" style="margin-left: 10%;margin-right: 10%;">
This is a website of my personal interest.
The intention was to practice my coding skill and now I see more use of it.
The skeleton is just a online shopping website like Amazon,
however I don't have anything to sell :>.
So in the future this website may have some different functions.
I may post some thoughts of mine to this website,
or build it as a forum,or something else.
I am very excited to see how it works in the future.
</h2>
</p>

</body>
</html>