<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<hr style="position: absolute; width:85%; height: 6px; background-color: #333; z-index: -1; margin-top: -80px;" />
		

		<div class="row" style="margin-top: 40px;">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-6 text-left">
						<a class="btn btn-warning" th:href="@{/comicShelf}">
							Back to shopping
						</a>
					</div>
					<div th:if="${hasItem}">
					<div class="col-xs-6 text-right">
						<a class="btn btn-primary"
							th:href="@{/checkout(id=${shoppingCart.id})}">Check Out</a>
					</div>
					</div>
					<br />
					<div th:if="${notEnoughStock}" class="alert alert-warning">
						Oops, some of the products don't have enough stock. Please update
						product quantity.</div>
					<div th:if="${emptyCart}" class="alert alert-warning">Oops,
						your cart is empty. See if you can find what you like in the
						comicShelf and add them to cart.</div>

					<br /> <br />
					<div class="row">
						<div class="col-xs-8 ">
							<h4 style="margin-left:70px;">Products</h4>
						</div>
						<div class="col-xs-2">
							<h4>Price</h4>
						</div>
						<div class="col-xs-2">
							<h4>Qty</h4>
						</div>
					</div>


					<div class="row" th:each="cartItem : ${cartItemList}">
						<form th:action="@{/shoppingCart/updateCartItem}" method="post">
							<hr />
							<div class="col-xs-2">
								<a th:href="@{comicDetail(id=${cartItem.comic.id})}"> <img
									style="width:160px;"
									class="img-responsive shelf-comic center-block"
									th:src="@{/image/comic/}+
								${cartItem.comic.id}+'.jpg'" />
								</a>
							</div>
							<div class="col-xs-6">
								<div style="margin-left:50px;">
								<a th:href="@{/comicDetail?id=}+${cartItem.comic.id}"><h4 th:text="${cartItem.comic.title}"></h4></a>
								<p th:if="${cartItem.comic.inStockNumber&gt;10}"
									style="color: green;">In Stock</p>
								<p
									th:if="${cartItem.comic.inStockNumber&lt;10 and cartItem.comic.inStockNumber&gt;0}"
									style="color: green;">
									Only <span th:text="${cartItem.comic.inStockNumber}"></span> In
									Stock
								</p>
								<p th:if="${cartItem.comic.inStockNumber==0}"
									style="color: darkred;">Product Unavailable</p>
								<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">delete</a>
								</div>
							</div>

							<div class="col-xs-2">
								<h5 style="color: #db3208; font-size: large;">
									$<span th:text="${cartItem.comic.ourPrice}"
										th:style="${cartItem.comic.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
								</h5>
							</div>

							<div class="col-xs-2">
								<input hidden="hidden" name="id" th:value="${cartItem.id}" /> <input
									th:id="${cartItem.id}" th:name="qty" th:disabled="${cartItem.comic.inStockNumber==0}" class="form-control cartItemQty" th:value="${cartItem.qty}" />
								<button style="display: none;"
									th:id="'update-item-'+${cartItem.id}" type="submit"
									class="btn btn-warning btn-xs">Update</button>
							</div>
						</form>
					</div>

					<div class="row">
						<hr />
						<h4 class="col-xs-12 text-right">
							<strong style="font-size: large;">Total Price (<span
								th:text="${#lists.size(cartItemList)}"></span> items):
							</strong> <span style="color: #db3208; font-szie: large;">$<span
								th:text="${shoppingCart.grandTotal}"></span></span>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
